@(label: models.Label, form: Form[models.Task])

@layout("ラベル詳細"){
	<h1>@label.title</h1>

	<ul>
		@for(task <- label.tasks){
		<li>@task.title [<a href= "@routes.TaskC.destroy(task.id)">削除ぉ！</a>]</li>
		}
		<li>
		@helper.form(action = routes.TaskC.create(label.id)){
			<input type= "text" value ="@label.id" name="labelId">
			<input type= "text" value="@form("title").value" name="title">
			<input type= "submit" value="タスク追加">
		}
		</li>
	</ul>
	<p><a href="@routes.LabelC.index">トップに戻りたいわな</a></p>

}